.create-from-content {
  position: absolute;
  background-color: #161616;
  color: white;
  min-height: 400px;
  min-width: 500px;
  max-width: 500px;
  padding: 1.5em;
  border-radius: 1em;
  top: 20px;
  left: 35%;
  border: rgba(255, 255, 255, 0.527) 3px solid;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.form-pessoa {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-pessoa-endereco {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.submit-pessoa-button {
  background-color: green;
}

.fechar-form-button {
  background-color: red;
}

.user-data ul {
  list-style: none;
}

.content {
  display: flex;
  position: relative;
  gap: 10px;
}

.enderecos {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.enderecos p {
  margin: 0;
}

.endereco-bubble {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: rgba(240, 248, 255, 0.918);
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(28, 63, 109);
}

.content button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  border-radius: 50%;
  background-color: #575757;
}
